body {
    color: #212121;
}

p,
h1,
h2 {
    margin: 0;
}

h1,
h2 {
    margin-bottom: 20px;
}

label {
    width: 90%;
    display: flex;
    align-items: center;
}

label:first-of-type {
    margin-bottom: 15px;
}

input {
    padding: 0;
    border: none;
    outline: none;
    width: 100%;
    margin-left: 10px;
    border-bottom: 1px solid #D9D9D9;
}

button {
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.wrapper {
    position: relative;
}